form {
    margin: auto;
    width: 50%;
}

label {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}

input {
    font-family: "Montserrat", sans-serif;
}

.form-check-label {
    font-size: 1.25em;
    margin-top: 0;
}

.form-check-group {
    margin-top: 1em;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 1em;
}
